:root {
    --primary: #e11138; /* Vermelho Webmotors */
    --dark: #333;
    --light: #f4f4f4;
}

body { font-family: 'Arial', sans-serif; background-color: var(--light); margin: 0; padding-bottom: 50px;}

header {
    background: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo { font-size: 1.5rem; font-weight: bold; color: var(--primary); }

#btn-anunciar {
    background: var(--primary);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.container { max-width: 1000px; margin: 20px auto; padding: 0 20px; }

/* Formulário */
.card-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}
.hidden { display: none; }
input { width: 100%; padding: 10px; margin-bottom: 10px; border: 1px solid #ddd; border-radius: 4px; box-sizing: border-box;}
.row { display: flex; gap: 10px; }
.btn-save { width: 100%; background: #28a745; color: white; padding: 10px; border: none; cursor: pointer; }

/* Grid de Carros */
.grid-carros {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsivo automático */
    gap: 20px;
}

.card-carro {
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}
.card-carro:hover { transform: translateY(-5px); }

.card-carro img { width: 100%; height: 180px; object-fit: cover; }

.detalhes { padding: 15px; }
.detalhes h4 { margin: 0; color: var(--dark); }
.marca { color: #777; font-size: 0.9rem; margin: 5px 0; }
.preco { color: var(--primary); font-weight: bold; font-size: 1.2rem; margin: 10px 0; }

.btn-delete {
    display: block;
    text-align: center;
    background: #f8f9fa;
    color: #dc3545;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    font-size: 0.9rem;
}
.btn-delete:hover { background: #dc3545; color: white; }